<!DOCTYPE html>
<html lang="es">

    
    <%- include("../partials/head.ejs") %> 
    
    <body>
        <%- include("../partials/header.ejs") %> 

        <main class="main-productDetail">

            <section class="main__product-container">
                <article class="main__product-imgs-container">
                    
                    <div class="main__product-imgs-title">
                        <img src="/images/<%=productDetail.sliced%>" alt="Producto" id="main__product-imgs-watch">
                    </div>
    
                    <!-- <div class="main__product-imgs">
                        <img src="">
                    </div> -->
    
                </article>
    
                <article class="main__product-info-container">

                    <div class="main__product-info-head">
                        <h1 class="main__product-head-title"> <%=productDetail.product_name%> </h1>
                        <p class="main__product-head-subtitle"> <%=productDetail.product_description%>  </p>
                    </div>
    
                    <div class="main__product-info-body">
                        <div class="main__product-price">
                            <p class="main__product-price-title">$ <%=productDetail.price%> </p>
                            <p class="main__product-price-subtitle">Precio especial</p>
                        </div>
                        <div class="main__product-fees">
                            <p class="main__product-fees-p"><%= productDetail.product_fees %>  cuotas sin interés a:</p>
                            <p class="main__product-fees-title">$<%= (productDetail.price/productDetail.product_fees).toFixed(2)%></p>
                            <p class="main__product-fees-subtitle">Precio de lista</p>
                        </div>
                    </div>
    
                    <div class="main__product-info-footer">
                        <div class="main__product-warranty-container">
                            <img src="/images/productDetail-assets/secure.svg" alt="Garantía" id="main__product-warranty-icon">
                            <p class="main__product-warranty-title">Garantía - 36 meses</p>
                        </div>
                        <div class="main__product-stock-container">
                            <img src="/images/productDetail-assets/available.svg" alt="Stock disponible" id="main__product-stock-icon">
                            <p class="main__product-stock-title"><%= parseInt(productDetail.stock) > 0 ? "Stock disponible" : "Stock No Disponible" %></p>
                        </div>
                        <div class="main__product-shipping-container">
                            <img src="/images/productDetail-assets/car.svg" alt="Envío disponible" id="main__product-shipping-icon">
                            <p class="main__product-shipping-title">Envíos a todo el país</p>
                        </div>

                            <div class="main__product-add-container">
                                <button class="main__product-add-button" type="submit">Sumar al carrito</button>
                            </div>

                            <% if(locals.userLogged && locals.userLogged.administrator === true){ %> 
                            <a href="/productEdit/<%= productDetail.id %> ">
                                <div class="main__product-edit-container">
                                    <button class="main__product-edit-button" type="button">Editar</button>
                                </div>
                            </a>

                            <form action="/productDetail/<%= productDetail.id %>?_method=DELETE" method="POST">
                                <div class="main__product-delete-container">
                                    <button class="main__product-delete-button" type="submit"> Borrar </button>
                                </div>
                            </form>
                            <% } %> 

                        </div>

                    </article>

                    <article class="main__product-specs-container">

                        <h2 class="main__product-specs-title">ESPECIFICACIONES</h2>
                        <p>
                            <%=productDetail.product_descriptionplus%>
                        </p>

                    </article>

                </section>

            </main>

            <%- include("../partials/footer.ejs") %>

    </body>

</html>